<div class="search-form">

  <div class="flights-label">
    <i class="fa fa-plane"></i>
    Flights
  </div>

  <div class="airports">
    <div class="airport-input">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <biz-autocomplete title="From"
                        for="departure_airport"
                        type="airport"
                        required="true"
                        model="$ctrl.data.from">
    </div>

    <div class="swap">
      <a href="#!"><i class="fa fa-exchange" aria-hidden="true"></i></a>
    </div>

    <div class="airport-input">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <biz-autocomplete title="To"
                        for="departure_airport"
                        type="airport"
                        required="true"
                        model="$ctrl.data.to">
    </div>
  </div>

  <div class="date-selector">
    <i class="fa fa-calendar"></i>
    <biz-datetime title="Date"
                  for="date"
                  model="$ctrl.data.date"
                  type="date"
                  format="YYYY-MM-DD"
                  placeholder="Date..."
                  min="{{$ctrl.minDate}}">
    </biz-datetime>
  </div>

  <div class="flight-type">
    <biz-dropdown-select
      model="$ctrl.data.flight_type"
      list = '$ctrl.types' value="$ctrl.data.type">

    </biz-dropdown-select>
  </div>

  <div class="seats-counter">
    <a ng-click="$ctrl.count(false)">-</a>
    <input type="number" ng-model="$ctrl.data.seats">
    <a ng-click="$ctrl.count(true)">+</a>
  </div>

  <div class="find-button" ui-sref="results({data : $ctrl.data})">
    <a>Search</a>
  </div>

</div>
